:root {
    --color-gray-secondary: #7a777c;
    --color-gray-primary: #909090;
  }


.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 16px 24px 16px;
}

/*cta section*/

 .cta {
  background-color: #211c24;
  padding-top: 88px;
}

.cta > p  {
    color: var(--color-gray-secondary);
    font-size: 19px;
    text-align: center;
  }

.cta-title{
    font-size: clamp(4.5rem, 4.5rem + 0vw, 4.5rem);
    text-align: center;
    color: #fff;
    font-family: sans-serif;
}

.cta-subtitle {
    font-family: "Figtree", sans-serif;
    color: var(--color-gray-secondary);
    text-align: center;
    padding-bottom: 1rem;
  }

  .cta-btn {
    border: 1px solid white;
    text-align: center;
    width: 184px;
    height: 56px;
    line-height: 56px;
    border-radius: 5px;
    margin: 32px auto 48px auto;
    display: block;
    font-size: 1rem;
    color: #fff;
    font-weight: lighter;
  }

  .cta-image{
  display: block;
  margin: 0 auto;
  }

  .product {
   text-align: center;
   background-color: #fff;  /*#EDEDED é a cor original*/
      }

   .product figure{
    padding-top: 40px;
        
          }

  .product h2{
  font-size: 2.125rem;
  font-weight: normal;
  padding-top: 24px;
    }

  .product p{
   padding-top: 8px; 
   color: var(--color-gray-primary);
   font-weight: 600;
   padding-bottom: 16px;
   margin-bottom: 20px;
 }   
 
 
 .visionpro{
  background-color: #353535;
  color: #ffffff;
} 

.visionpro figure{
 padding-top: 40px;
}

.visionpro h2{
  font-size: 2.125rem;
  font-weight: normal;
 }

 .visionpro p{
  padding-top: 8px; 
  color: var(--color-gray-primary);
  font-weight: 600;
  padding-bottom: 24px;
  margin-bottom: 20px;
 }

 .playstation5{
  background-color: #fff;
 }

 .playstation5 figure{
  padding-top: 40px;
 }

 .playstation5 h2{
  font-size: 2.125rem;
  font-weight: normal;
 }

 .playstation5 p{
  padding-top: 8px;
  color: var(--color-gray-primary);
  font-weight: 600;
  padding-bottom: 24px;
  margin-bottom: 20px;
 }
 
 


.macbook{
  background-color: #EDEDED;
  padding-right: 1rem;
  padding-left: 1rem;
} 

.macbook p{
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 20px;

}

.product-btn{
 width: 343px;
 height: 56px;
 border: 1px solid #000000;
 border-radius: 6px;
 font-size: 1rem;
 color: #000000;
 font-size: 16px;
 padding: 16px 56px 16px 56px;
 gap: 8px;
 margin: 32px auto 48px auto;
 cursor: pointer;
} 

.product-btn:hover{
 background-color: #000000;
 color: #ffffff;
 } 

 .browse-div > div:first-child {
  display: flex;
  margin: 64px 16px 48px 16px;
  justify-content: space-between;
  align-items: center;
  line-height: 60px;
 }

 .browse-div > div> div{
  margin-top: 8px;
  align-items: center;
 }

 .browse-div > div > div img{
  display: inline-block;
  margin: 15px;
 }

.browse-box{
  margin: 16px;
  display: flex;
  justify-content: space-between;

}

 .card {
  background-color: #EDEDED;
  height: 128px;
  width: 163px;
  text-align: center;
  border-radius: 15px;
  margin-right: 15px;
 }

 .card:hover{
  cursor: pointer;
 }

 .sales-description{
  display: flex;
  justify-content: space-between;
 }

.sales{
    margin-bottom: 100px;
    margin-left:16px;
    margin-right:16px;
}

.sales-btn{
  color: #8B8B8B;
}

 .sales-btn-active{
  color: black;
  border-bottom: 2px solid #000000;
 }


 .card-item .box {
 margin-right: 12px;
 margin-left: 12px;
 border-radius: 9px;
 background-color: #F6F6F6;
 width: 163.5px;
 height: 352px;
 text-align: center;
 margin-top: 10px;
 margin-bottom: 30px;
 }

.card-item {
  display: flex;
  justify-content: space-between;
}

.card-item .box p{
 color: #000000;
 font-weight: normal;
 margin-top: 8px;
 margin-bottom: 24px;
 margin-right: 12px;
 margin-left: 12px;
 
 
}

.card-item .box h2{
  font-size: 24px;
  font-weight: bold;
  margin-top: -15px;
}

.card-item-btn {
  border-radius: 8px;
  color: white;
  background-color: #000;
  width: 139.5px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  font-weight: bold;
 
  
}

.card-item-btn:hover{
  background-color: #000;
  opacity: .9;
}

.card-item-heart {
  display: flex;
  justify-content: space-between;
  justify-content: right;
  margin-right: 10px;
  margin-left: 0;
  margin-bottom: 8px;
}

.card-item-heart button{
  margin-top: 24px;
}

.card-ipad{
  background-color: #F9F9F9;
  align-items: center;
}
.card-ipad img{
  width: 371px;
  height: 390px;
  margin:30px;
}

.card-ipad h1{
  color: #000000;
  font-size: 49px;
  font-weight: 300;
  line-height: 48px;
  text-align: center;
}

.card-ipad p{
  color: #909090;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;

}

.card-ipad-btn {
display: flex;
align-items: center;
font-size: 16px;
width: 196px;
height: 56px;
border: 1px solid #000000;
border-radius: 6px;
gap: 8px;
padding:16px 56px 16px 56px;
margin: 32px auto 48px auto;
}










  
