:root {
    --color-gray-secondary: #7a777c;
    --color-gray-primary: #909090;
  }


.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 16px 24px 16px;
}

/*cta section*/

 .cta {
  background-color: #211c24;
  padding-top: 88px;
}

.cta > p  {
    color: var(--color-gray-secondary);
    font-size: 19px;
    text-align: center;
  }

.cta-title{
    font-size: clamp(4.5rem, 4.5rem + 0vw, 4.5rem);
    text-align: center;
    color: #fff;
    font-family: sans-serif;
}

.cta-subtitle {
    font-family: "Figtree", sans-serif;
    color: var(--color-gray-secondary);
    text-align: center;
    padding-bottom: 1rem;
  }

  .cta-btn {
    border: 1px solid white;
    text-align: center;
    width: 184px;
    height: 56px;
    line-height: 56px;
    border-radius: 5px;
    margin: 32px auto 48px auto;
    display: block;
    font-size: 1rem;
    color: #fff;
    font-weight: lighter;
  }

  .cta-image{
  display: block;
  margin: 0 auto;
  }

  .product {
   text-align: center;
   background-color: #fff;  /*#EDEDED é a cor original*/
      }

   .product figure{
    padding-top: 40px;
        
          }

  .product h2{
  font-size: 2.125rem;
  font-weight: normal;
  padding-top: 24px;
    }

  .product p{
   padding-top: 8px; 
   color: var(--color-gray-primary);
   font-weight: 600;
   padding-bottom: 16px;
  
 }   
 
 
 .visionpro{
 background-color: #353535;
 color: #ffffff;
} 

.macbook{
  background-color: #EDEDED;
} 

.product-btn{
 width: 343px;
 height: 56px;
 border: 1px solid #000000;
 border-radius: 6px;
 font-size: 1rem;
 color: #000000;
 font-size: 16px;
 padding: 16px 56px 16px 56px;
 gap: 8px;
 margin: 32px auto 48px auto;
 cursor: pointer;
} 

.product-btn:hover{
 background-color: #000000;
 color: #ffffff;
 } 


 









  
